@model Enrollment.ViewModels.AddBeneficiaryTypeViewModel

@{
    ViewBag.Title = "Beneficiary Information";
}

<h2>Step 5: Beneficiaries</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Would you like to add a new beneficiary, select one from your dependents, or not add any?</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3" id="New">
                <input name="submitButton" type="submit" value="New" class="btn btn-default" />
            </div>
            <div class="col-md-3" id="Existing">
                <input name="submitButton" type="submit" value="Existing" class="btn btn-default" />
            </div>
            <div class="col-md-3">
                <input name="submitButton" type="submit" value="None" class="btn btn-default" />
            </div>
        </div>
        @Html.HiddenFor(model => model.RemainingDependentsCount, new { htmlAttributes = new { @class = "form-control", @id = "RemainingDependentsCount" } })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#RemainingDependentsCount").val() == 0) {
            $("#Existing").hide();
        }
    });
    </script>
}
