<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rnbenefits-enrollment.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>rnbenefits-enrollment.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rnbenefits-enrollment</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$rnbenefits-enrollment</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:enrollment-sql.database.windows.net,1433;Initial Catalog=rnbenefits-enrollment_db;User ID=enrollment-user@enrollment-sql;Password=b5TrpR1vCChe" Name="Data Source=tcp:enrollment-sql.database.windows.net,1433;Initial Catalog=rnbenefits-enrollment_db;User Id=enrollment-user@enrollment-sql;Password=b5TrpR1vCChe" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Enrollment.Models.ApplicationDbContext, Enrollment" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnectionOriginal" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:enrollment-sql.database.windows.net,1433;Initial Catalog=rnbenefits-enrollment_db;User ID=enrollment-user@enrollment-sql;Password=b5TrpR1vCChe" Name="Data Source=tcp:enrollment-sql.database.windows.net,1433;Initial Catalog=rnbenefits-enrollment_db;User Id=enrollment-user@enrollment-sql;Password=b5TrpR1vCChe" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Enrollment-20150630110938.mdf;Initial Catalog=aspnet-Enrollment-20150630110938;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnectionOriginal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Enrollment-20150630110938.mdf;Initial Catalog=aspnet-Enrollment-20150630110938;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EnrollmentContextOriginal" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:enrollment-sql.database.windows.net,1433;Initial Catalog=rnbenefits-enrollment_db;User ID=enrollment-user@enrollment-sql;Password=b5TrpR1vCChe" Name="Data Source=tcp:enrollment-sql.database.windows.net,1433;Initial Catalog=rnbenefits-enrollment_db;User Id=enrollment-user@enrollment-sql;Password=b5TrpR1vCChe" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|EnrollmentContext-20150630134822.mdf;Initial Catalog=EnrollmentContext-20150630134822;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EnrollmentContextOriginal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=EnrollmentContext-20150630134822; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|EnrollmentContext-20150630134822.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:enrollment-sql.database.windows.net,1433;Initial Catalog=rnbenefits-enrollment_db;User Id=enrollment-user@enrollment-sql;Password=b5TrpR1vCChe</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnectionOriginal-Web.config Connection String">
      <ParameterValue>Data Source=tcp:enrollment-sql.database.windows.net,1433;Initial Catalog=rnbenefits-enrollment_db;User Id=enrollment-user@enrollment-sql;Password=b5TrpR1vCChe</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EnrollmentContextOriginal-Web.config Connection String">
      <ParameterValue>data source=tcp:enrollment-sql.database.windows.net,1433;initial catalog=rnbenefits-enrollment_db;user id=enrollment-user@enrollment-sql;password=b5TrpR1vCChe;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>